.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 10;
  }
  
  .gif {
    margin: auto;
    width: 5%; /* Adjust width as needed */
    height: auto;
  }
  