/* Profile.module.css */
.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profileInfo {
    display: flex;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5%;
  }
  
  .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profilePicContainer {
    cursor: pointer;
    margin-bottom: 5%;
  }
  
  .profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    object-fit: cover;
  }
  
  .profilePic:hover {
    transform: scale(1.1);
  }
  
  .userInfo {
    text-align: center;
  }
  
  .userInfo h2 {
    margin-bottom: 10px;
  }
  
  .userInfo p {
    margin: 5px 0;
  }
  
  /* Sidebar Navigation Styles */
  @media (min-width: 768px) {
    .container {
      margin-left: 250px; /* Adjust sidebar width */
      margin-top: 5%;
    }
  }

  @media (max-width: 767px) {
    .container {
      margin-top: 120px; /* Add top margin on small screens */
    }
  }
  
  .profilePicContainer {
    position: relative;
    cursor: pointer;
    margin-bottom: 5%;
  }
  
  .profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .profilePic:hover {
    transform: scale(1.1);
  }
  
  .editProfilePic {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .editProfilePic:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .userInfo {
    text-align: center;
  }
  
  .userInfo h2 {
    margin-bottom: 10px;
  }
  
  .userInfo p {
    margin: 5px 0;
  }
  
  /* Sidebar Navigation Styles */
  @media (min-width: 768px) {
    .container {
      margin-left: 250px; /* Adjust sidebar width */
    }
  }
  