/* Auth.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0px 0px 25px 4px rgba(126, 185, 233, 0.2), 0 4px 8px rgba(91, 125, 238, 0.1);
  }
  50% {
    box-shadow: 0px 0px 35px 8px rgba(126, 185, 233, 0.4), 0 6px 12px rgba(91, 125, 238, 0.2);
  }
  100% {
    box-shadow: 0px 0px 25px 4px rgba(126, 185, 233, 0.2), 0 4px 8px rgba(91, 125, 238, 0.1);
  }
}

.cardContainer {
  width: 350px;
  border-radius: 8px;
  animation: shadowPulse 3s infinite; /* Adjust duration as needed */
}


.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  width: 400px; /* Adjust size as needed */
}

.formContainer {
  padding: 20px;
}

.formContainer h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10%;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup input {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputGroup input:focus {
  border-color: #007bff;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.button + .button {
  margin-top: 10px;
}

.bottomLinks {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.forgotPassword,
.register {
  font-size: 14px;
  cursor: pointer;
  margin: 3%;
}

.register:hover,
.forgotPassword:hover {
  text-decoration: underline;
}

